.brandheader{
    font-size: 28px;
    font-weight: 700;
    color: #FFA902;
}

.container .navheader {
    font-weight: 400;
    font-size: 15px;
}

.searchicon .form-control {
    padding-left: 2.375rem;
}

.searchicon .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.active{
    color: #FFA902 !important;
    text-decoration: underline;
}